@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #7ae582, #7ae582);
  font-family: "Poppins", sans-serif;
}
.formItems1{
 display: flex;
 justify-content: space-between;

}
.formItems2{
  display: flex;
  justify-content: space-between;
 
 }
 .formItems3{
  display: flex;
  justify-content: space-between;
 
 }

.center {
  height: 430px;
  width: 620px;
  background-color: rgba(250, 249, 252, 0.877);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 45px 35px;
}
h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: 10px;
  text-align: left;
  
  font-family: "Poppins", sans-serif;
}
.center h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  margin-top: 10px;
  padding: 1px;
  color: #2b73dfaf;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-top: 19px;
  margin-bottom: 5px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: "Poppins", sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  margin-top: 25px;
  width: 50%;
  background: #7ae582;
  color: #fff;
  border: #fff;
  font-family: "Poppins", sans-serif;
  
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

.regButton {
  width: 50%;
  height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  background: #7ae582;
  border: none;
  border-radius: 15px;
  line-height: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 150px;
}


.regButton:hover {
  color: rgb(0, 0, 0);
  background: #2b73dfaf;
  transition: 1.2s ease;
}

.backHome a:hover{
  
  color: #2b73dfaf;
  transition: 1.2s ease;
  
}
.backHome a{
text-decoration: none; 
  color: rgb(52, 243, 132);
}
.buttomLogin{
  margin-bottom: 10px;
   text-align:right;
}
.buttomLogin a{

  text-decoration: none; 
  color: rgb(52, 243, 132);
  text-decoration: none;
}
.buttomLogin a:hover{
  
  color: #2b73dfaf;
  transition: 1.2s ease;
  
}
